<nav class="navbar navbar-expand-md navbar-dark bg-dark" ng-controller="navController">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-3 me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" ui-sref="home" ui-sref-active="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" ui-sref="links" ui-sref-active="active" >Linkek</a>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <!-- Language dropdown menu -->
        <li class="nav-item dropdown ms-3 me-3 d-flex">
          <a class="nav-link dropdown-toggle" role="button" 
             data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./img/hu.png" width="40px">            
          </a>          
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li id="en" data-lang-type="west" class="dropdown-item d-conditional show" ng-click="changeLanguage($event)">
              <img src="./img/uk_flag.png" width="40px">
              <span data-lang="english" class="text-capitalize mx-2"></span>
              <span class="english-name">(english)</span>
            </li>
            <li id="hu" data-lang-type="east" class="dropdown-item d-conditional show" ng-click="changeLanguage($event)">
              <img src="./img/hun_flag.png" width="40px">
              <span data-lang="hungarian" class="text-capitalize mx-2"></span>
              <span class="english-name">(hungarian)</span>
            </li>
          </ul>
        </li>
      </ul>
          
    </div>
  </div>
</nav>
